<section class="container" id="contact">
   
    <div class="contact-wrapper container">
    <h2>Contact</h2>
        <form action="submit" method="post">
            <div class="contact-wrapper card">
                 <input type="text" class="from" id="from" placeholder="From:">
                 <input type="text" class="topic" id="topic" placeholder="Topic:">
                 <textarea name="content" id="content" cols="30" rows="10" placeholder="Message Content"></textarea>
                 <button class="btn btn-primary">Send</button>
            </div>
         </form>
    </div>
</section>

