
section{
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 50px;
    position: relative;
}
.row{
    padding-bottom: 20px;
}
.col-lg-4{
    margin-bottom: 5px;
    position: relative;
    box-sizing: border-box;
}
.card{
    color: rgb(0, 0, 0);
    background-color:#02424641;
    box-sizing: border-box;
    margin: auto;
}
.demos{
    background-color: transparent;
    padding: 20px 0px;
    text-align: center;
    max-width: 300px;
}
.demos img{
    width: 70%;
    border-radius: 3px;
    transition: 500;
}
.description{
    text-align: left;
    margin-top: 20px;
    overflow-y: auto;
    scroll-behavior: unset;
}
.buttuncont{
    text-align: center;
}


@media(min-width:1024px){
    .demos img{
        width: 80%;
        border-radius: 3px;
        transition: 0.5s;
    }
    .demos img:hover{
        
        width: 82.5%;
    }
   
}





