<section class=" container-fluid app" id="portfolio">
    <div  [@show]="!muestra? 'void':'enter'" class="portfolio-wrapper container">
        <div class="title container">
            <h2 class="mt-5 mb-4"><b>Portfolio</b></h2>
        </div>
        
        <div *ngIf="!demoMuestra" class="row">
            
            <div #row *ngFor="let proyect of proyects" class="col-lg-4">
                <div class="card mb-3">
                   <div class="demos container mt-4">
                   <a href={{proyect.url}} target="_blank"> <img  class="btn btn-apps"  src={{proyect.picture}} alt="demo_pic" srcset=""></a>
                        
                        <div class="description container-fluid">
                            <p>{{proyect.description}}</p>
                            
                       </div>
                       <div class="container"><a class="btn btn-primary" href={{proyect.url_gitHub}} target="_blank">View Code</a></div>
                       
                   </div> 
                  
                </div>
            </div>
        </div>
        
        
        <app-demo *ngIf="demoMuestra" class="demoShow container" id="demoShow1"></app-demo>
        
        
    </div>
    
</section>
