<section  class="about-section container" id="about">
   <div [@show]="!muestra? 'void':'enter'">
      <div class="title container"><h2 class="mt-5 mb-4"><b>About</b> </h2></div>
      <div class="about-wrapper card">
         <div class="row">
            <div class="col-md-4">
               <div class="myPic">
                  <img src="../../../assets/alian2.png" alt="alianpicture" srcset="">
               </div>
            </div>
            <div class="col-md-8">
               <div class="about-coments pt-5">
                  <p class="mt-3">My name is <b class="text-white">Alian Medina.</b>  Software Ingenier graduated in 2014 at the Technological University of Havana, Cuba (ISPJAE). <br>
                  I'm a creative and enthusiastic team worker, who loves to solve professional and personal challenges, learning as much as I can in the proccess. <br> 
                  On my free time, I love to play the guitar, read a good mistery novel, watch and play futball with my friends and spend good quality time with my Family.<br>
                  <br>
                  <b>Do you want to know more about me? Just Click below...</b> 
                  </p>
               </div>
               <div class="buton-cv mt-3">
                  <a class="btn btn-primary block" target="_blank" href="../../../assets/Alian-Medina-CV .pdf">Download my C.V</a>
               </div>
               
            </div>
            
         </div>
      </div>
      
   </div>
</section>