.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  nav{
    z-index: 50;
    width: 100%;
    position: fixed;
   
    }
   
  img{
    padding-left: 10px;
    width: 65px;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    img{
      display: none;
      padding-left: 10px;
      width: 65px;
    }
    nav{
      z-index: 50;
      width: 100%;
      position: fixed;
      transition: 500ms;
     
      }
     
    
  }
 