.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  nav{
    z-index: 20;
    width: 100%;
    position: fixed;
   
    }
    
  .strip-nav-exterior{
    z-index: 50;
    position: fixed;
    background-color: transparent;
    width: 230px;
    padding-bottom: 2px;
    padding-top: 40px;
    left: -180px;   /*original -180px*/
    transition: .7s;
    height: 30px;
  }
  .strip-nav-exterior:hover{
    left: 0;
    transition: 0.7s;
    height: 100%;
    background-color: rgb(31, 29, 34);
    
  }
  
  .menu{
    border-bottom: rgb(216, 133, 0) 2px solid;
  }
 .menu h5{
    /* color: cornsilk; */
    margin-left: 30px;
  }
  
  .list-wrapper{
  background-color: transparent;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: content-box;
    max-width: 170px;
  }
  .list-wrapper li{
    padding-left: 30px;
  }
  
  .list-wrapper li a{
  display: inline-block;
  color: aliceblue;
  }
  .list-wrapper li a:hover{
    text-decoration: underline 2px solid white;
    }
   
  img{
    padding-left: 10px;
    width: 65px;
    height: 20px;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    img{
      padding-left: 10px;
      width: 65px;
    }
    nav{
      z-index: 50;
      width: 100%;
      position: fixed;
      transition: 500ms;
     
      }
     
    
  }
 