<!-- Navbar Component -->
<body>
    <app-navbar class="navigation-component"></app-navbar>

    <!-- Main Section -->
    <main #home id="home">
        <header class="wow fadeInUp">
            <div class="landing-wrapper container">
                <div class="row">
                    <div @initState class="col-lg-9 greetings">
                        <h1>Hello, I'm Alian!!</h1>
                        <h4>A Web Developer who loves profesional challenges</h4>
                    </div>
                    
                    <div @initStateBrand class="col-lg-3 logo">
                        
                            <img  #brand src="../../../assets/favico.png" alt=" Logo" srcset=""> 
                        
                       
                    </div>
                </div>                
            </div>
        </header>
        
     
    </main>

<!-- Other Sections -->
<div class="sections-wrapper container">
    <app-portfolio class="app-portfolio app" id = "portafolio"></app-portfolio>
    <app-about class="app-about app"></app-about>
    <app-contact class="app-contact app"></app-contact>
</div>


<app-footer></app-footer>

</body>
